<div class="row" id="buttons-row">

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='all'" 
    (click)="filterBy='all'">Όλες</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='drama'" 
    (click)="filterBy='drama'">Δραματικές</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='action'" 
    (click)="filterBy='action'">Περιπέτειες</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='comedy'" 
    (click)="filterBy='comedy'">Κωμωδίες</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='thriller'" 
    (click)="filterBy='thriller'">Θρίλερ</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='scifi'" 
    (click)="filterBy='scifi'">Sci-Fi</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='horror'" 
    (click)="filterBy='horror'">Τρόμου</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='crime'" 
    (click)="filterBy='crime'">Αστυνομικές</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='noir'" 
    (click)="filterBy='noir'">Film Noir</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='romance'" 
    (click)="filterBy='romance'">Αισθηματικές</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='art'" 
    (click)="filterBy='art'">Art/Experimental</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='musical'" 
    (click)="filterBy='musical'">Μιούζικαλ</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='war'" 
    (click)="filterBy='war'">Πολεμικές</button>

    <button class="btn btn-lg btn-warning" [class.active]="filterBy==='western'" 
    (click)="filterBy='western'">Γουέστερν</button>


    <ul id="thumbnailsList">
        <li *ngFor="let movie of visibleMovies | movieFilter:filterBy" >
            <a [routerLink] ="['/movie', movie.id]">
                <img src="{{movie.url}}" class="tn">
            </a>
        </li>
    </ul>
</div>
